/* ?Diseño del Scroll */
/* *Tamaño del scroll */
*::-webkit-scrollbar {
   width: 7px;
}

/* *Estilos barra (thumb) de scroll */
*::-webkit-scrollbar-thumb {
   background: #5c9bff;
   border-radius: 4px;
}

*::-webkit-scrollbar-thumb:active {
   background-color: #333;
}

*::-webkit-scrollbar-thumb:hover {
   background: #ff885c;
   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* *Estilos track de scroll */
*::-webkit-scrollbar-track {
   background: #d7d7d77e;
   border-radius: 4px;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
   background: #d7d7d77e;
}

*::-webkit-scrollbar:horizontal {
   height: 4px;
}